<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Приглашение</title>
  <link rel="stylesheet" href="assets/css/style-card.css" />
</head>
<body>

<main class="invite-screen">

  <!-- дым ПЕРЕД фоном но ПОД карточкой -->
  <div class="smoke smoke-front"></div>

  <section class="invite-card">
    <h1 class="invite-name">Никита</h1>

    <p class="invite-text">
      Приглашаю провести вечер вместе со мной —
      кальян, напитки, музыка и атмосфера.
    </p>

    <div class="invite-meta">
      <p class="invite-date">25 АПРЕЛЯ · 18:00</p>
      <p class="invite-place">Место: LOUNGE BAR ХО</p>
      <p class="invite-place">Адрес: Средне-Московская, 5</p>
    </div>

    <a class="invite-button" href="https://t.me/tounerrr" target="_blank">
      Подтвердить присутствие
    </a>

  </section>
</main>

<script src="assets/js/main-card.js"></script>
</body>
</html>
